.event-flyer {
	display: flex;
	flex-direction: column;
	background-color: #F3F3F3;
	border-radius: 12px;
	min-width: 300px;
	max-width: 350px;
	max-height: 400px;
	overflow: hidden;
}

.cover {
	height: 40%;
	width: 100%;
  position: relative;
}

.cover-img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.cover::after {
  content: "";
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
  bottom: 0;
	height: auto;
  background: linear-gradient(rgba(2,62,120, 0), rgba(2,62,120, 1)); 
  z-index: 3; 
}

.content {
	height: 60%;
	padding: 0px 12px;
  position: relative;
}

.content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
	height: 10%;
  background: linear-gradient(rgba(243, 243, 243, 1), rgba(243, 243, 243, 0)); 
  z-index: 2; 
}

.content::after {
  content: "";
  position: absolute;
  top: 75%;
  left: 0;
  right: 0;
  bottom: 0;
	height: auto;
  background: linear-gradient(rgba(243, 243, 243, 0), rgba(243, 243, 243, 1)); 
  z-index: 2; 
}

.content-scrollable {
	height: 100%;
	overflow-y: scroll;
  overflow-x: hidden;
}

.content-scrollable::-webkit-scrollbar {
  display: none;
}

.event-name {
	color: #023E78;
	font-size: 16px;
	font-weight: bold;
}

.event-date {
	color: #0F93DF;
	font-size: 16px;
}