*{
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

.App {
  display: flex;
  justify-content: center;
  padding: 50px;
  padding-bottom: 100px;
  flex-direction: column;
  gap: 100px;
}

.eventlist-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  height: 400px;
}

.sorter-container {
	display: flex;
	justify-content: end;
	align-items: center;
	gap: 8px;
}

.dropdown-label {
	color: #023E78;
	font-size: 16px;
	font-weight: bold;
}

.select{
	border: 1px solid #979797; 
	background-color: white;
	border-radius: 16px;
	padding: 4px;
	color: #023E78;
	font-size: 16px;
	font-weight: normal;
}

.select:hover {
	cursor: pointer;
}

/* 
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
